Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPN/Service References/ClientePersonaNaturalCliente/asesor.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:CDP="http://www.fna.gov.co/cim/businessentities/asesor" xmlns:ident="http://www.fna.gov.co/cim/businessentities/identificacion" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/asesor" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="identificacion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/identificacion" />
  <complexType name="Asesor">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="codigoOficinaAfiliacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreOficinaAfiliacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="LogIn" type="string" />
      <element minOccurs="0" name="codigoAsesor" type="string" />
      <element minOccurs="0" name="codigoOficialReferido" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreCompleto" type="string" />
      <element minOccurs="0" name="identificacionAsesorComercial" type="ident:Identificacion" />
      <element minOccurs="0" maxOccurs="1" name="lugarEntrevista" type="string" />
      <element minOccurs="0" name="fechaEntrevista" type="date" />
    </sequence>
  </complexType>
</schema>