Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPN/Service References/ClientePersonaNaturalCliente/ClientePersonaNatural_RecuperarInformacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.fna.gov.co/esb/services/soap/clnteprsnantral/rcprarinfobsca/v1" xmlns:chdr="http://www.fna.gov.co/esb/services/cl/consumerheader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientePersonaNatural_RecuperarInformacion" targetNamespace="http://www.fna.gov.co/esb/services/soap/clnteprsnantral/rcprarinfobsca/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../xsd/recuperarInformacion.xsd" namespace="http://www.fna.gov.co/esb/services/soap/clnteprsnantral/rcprarinfobsca/v1" />
      <xsd:import schemaLocation="../../CommonsLib/consumerHeader.xsd" namespace="http://www.fna.gov.co/esb/services/cl/consumerheader" />
    </xsd:schema>
    <xsd:schema xmlns:exgen="http://www.fna.gov.co/cim/businessentities/excepciongenerica" targetNamespace="http://www.fna.gov.co/esb/services/soap/clnteprsnantral/rcprarinfobsca/v1">
      <xsd:include schemaLocation="../../xsd/recuperarInformacion.xsd" />
      <xsd:import schemaLocation="../../BusinessEntitiesLib/excepciongenerica.xsd" namespace="http://www.fna.gov.co/cim/businessentities/excepciongenerica" />
      <xsd:element name="excepcionSistema" type="exgen:excepcionGenerica" />
      <xsd:element name="excepcionNegocio" type="exgen:excepcionGenerica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="recuperarInformacionFault">
    <wsdl:part name="fault" element="tns:excepcionSistema" />
  </wsdl:message>
  <wsdl:message name="recuperarInformacionFault1">
    <wsdl:part name="fault" element="tns:excepcionNegocio" />
  </wsdl:message>
  <wsdl:message name="recuperarinformacion_in">
    <wsdl:part name="bodyparms" element="tns:recuperarInformacionBasicaRequest" />
    <wsdl:part name="consumerHeader" element="chdr:consumerHeader" />
  </wsdl:message>
  <wsdl:message name="recuperarinformacion_out">
    <wsdl:part name="bodyparms" element="tns:recuperarInformacionBasicaResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientePersonaNatural_RecuperarInformacionPortType">
    <wsdl:operation name="recuperarInformacion">
      <wsdl:input name="recuperarinformacion_input" message="tns:recuperarinformacion_in" />
      <wsdl:output name="recuperarinformacion_output" message="tns:recuperarinformacion_out" />
      <wsdl:fault name="recuperarInformacionFault" message="tns:recuperarInformacionFault" />
      <wsdl:fault name="recuperarInformacionFault1" message="tns:recuperarInformacionFault1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientePersonaNatural_RecuperarInformacion_Binding12" type="tns:ClientePersonaNatural_RecuperarInformacionPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recuperarInformacion">
      <soap12:operation soapAction="recuperarInformacionBasica" />
      <wsdl:input name="recuperarinformacion_input">
        <soap12:header message="tns:recuperarinformacion_in" part="consumerHeader" use="literal" />
        <soap12:body use="literal" parts="bodyparms" />
      </wsdl:input>
      <wsdl:output name="recuperarinformacion_output">
        <soap12:body use="literal" parts="bodyparms" />
      </wsdl:output>
      <wsdl:fault name="recuperarInformacionFault">
        <soap12:fault use="literal" name="recuperarInformacionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="recuperarInformacionFault1">
        <soap12:fault use="literal" name="recuperarInformacionFault1" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientePersonaNatural_RecuperarInformacion_Service">
    <wsdl:port name="ClientePersonaNatural_RecuperarInformacion_Port12" binding="tns:ClientePersonaNatural_RecuperarInformacion_Binding12">
      <soap12:address location="http://localhost:7800/esb/services/soap/clientepersonanatural/recuperarinformacion/v1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>