Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPN/Service References/ClientePersonaNaturalCliente/direccion.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dir="http://www.fna.gov.co/cim/businessentities/direccion" xmlns:tel="http://www.fna.gov.co/cim/businessentities/telefono" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/direccion" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../BusinessEntitiesLib/telefono.xsd" namespace="http://www.fna.gov.co/cim/businessentities/telefono" />
  <complexType name="DireccionFisica">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="idDireccion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="direccionCompleta" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoPais" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombrePais" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoCiudad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreCiudad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoDepartamento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreDepartamento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoCorregimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreCorregimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoProvincia" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreProvincia" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoDireccion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoSector" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreSector" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoLocalidad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreLocalidad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoBarrio" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreBarrio" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreUrbanizacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="estrato" type="string" />
      <element minOccurs="0" maxOccurs="1" name="antiguedadAnios" type="string" />
      <element minOccurs="0" maxOccurs="1" name="antiguedadMeses" type="string" />
      <element minOccurs="0" maxOccurs="1" name="zonaVeredal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="principal" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="telefono" type="tel:Telefono" />
      <element minOccurs="0" maxOccurs="1" name="tiempoAnnos" type="int" />
      <element minOccurs="0" maxOccurs="1" name="tiempoMeses" type="int" />
    </sequence>
  </complexType>
  <complexType name="DireccionElectronica">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="correoElectronico" type="string" />
      <element minOccurs="0" maxOccurs="1" name="paginaWeb" type="string" />
      <element minOccurs="0" maxOccurs="1" name="indicadorAutorizacion" type="string" />
    </sequence>
  </complexType>
  <complexType name="DireccionInmueble">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="tipoDireccion" type="int" />
      <element minOccurs="0" maxOccurs="1" name="codigoPais" type="int" />
      <element minOccurs="0" maxOccurs="1" name="nombrePais" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoCiudad" type="int" />
      <element minOccurs="0" maxOccurs="1" name="nombreCiudad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoDepartamento" type="int" />
      <element minOccurs="0" maxOccurs="1" name="nombreDepartamento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="direccionCompleta" type="string" />
    </sequence>
  </complexType>
  <complexType name="CasillaPostal">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="idCasilla" type="int" />
      <element minOccurs="0" maxOccurs="1" name="apartado" type="string" />
      <element minOccurs="0" maxOccurs="1" name="senalizacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoCiudad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreCiudad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoDepartamento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoProvincia" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreProvincia" type="string" />
      <element minOccurs="0" maxOccurs="1" name="verificado" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipo" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoPais" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombrePais" type="string" />
      <element minOccurs="0" maxOccurs="1" name="zonaPostal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaRegistro" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaModificacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="comentario" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoEmpresa" type="string" />
    </sequence>
  </complexType>
  <element name="DireccionElectronica" type="dir:DireccionElectronica" />
</schema>