Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPN/Service References/ClientePersonaNaturalCliente/excepciongenerica1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:excpg="http://www.fna.gov.co/cim/businessentities/excepciongenerica" elementFormDefault="qualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/excepciongenerica" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="excepcionGenerica">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="codigo" type="string" />
      <element minOccurs="1" maxOccurs="1" name="descripcion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="subCode" type="excpg:excepcionGenerica" />
    </sequence>
  </complexType>
  <element name="excepcionGenerica" type="excpg:excepcionGenerica" />
</schema>