Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPN/Service References/ClientePersonaNaturalCliente/informacionficnaciera_Sub.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:this="http://www.fna.gov.co/cim/CommonsLib/infofinancierasub" xmlns:infofin="http://www.fna.gov.co/cim/businessentities/informacionfinanciera" xmlns:moex="http://www.fna.gov.co/cim/businessentities/monedaextranjera" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/CommonsLib/infofinancierasub" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../BusinessEntitiesLib/informacionfinanciera.xsd" namespace="http://www.fna.gov.co/cim/businessentities/informacionfinanciera" />
  <import schemaLocation="../BusinessEntitiesLib/monedaExtranjera.xsd" namespace="http://www.fna.gov.co/cim/businessentities/monedaextranjera" />
  <complexType name="InformacionFinanciera_V1.0">
    <complexContent mixed="false">
      <restriction base="infofin:InformacionFinanciera">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="ingresos" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="egresos" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="otrosIngresos" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="detalleOtrosIngresos" type="string" />
          <element minOccurs="0" maxOccurs="1" name="totalActivos" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="totalPasivos" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="totalPatrimonio" type="decimal" />
          <element minOccurs="0" maxOccurs="1" name="fechaPatrimonioBruto" type="date" />
          <element minOccurs="0" maxOccurs="1" name="indicadorRetencion" type="string" />
          <element minOccurs="0" maxOccurs="1" name="reportadoSuperbancaria" type="string" />
          <element minOccurs="0" maxOccurs="1" name="pendienteDatos" type="string" />
          <element minOccurs="0" maxOccurs="1" name="grandesContribuyentes" type="string" />
          <element minOccurs="0" maxOccurs="1" name="comentarios" type="string" />
          <element minOccurs="0" maxOccurs="1" name="devolucion" type="boolean" />
          <element minOccurs="0" maxOccurs="1" name="indicadorCentralRiesgos" type="boolean" />
          <element minOccurs="0" maxOccurs="1" name="tipoAportante" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="monedaExtranjera" type="moex:MonedaExtranjera" />
          <element minOccurs="0" maxOccurs="1" name="declaracionOrigenRecursos" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
</schema>