Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPN/Service References/ClientePersonaNaturalCliente/personanatural.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dir="http://www.fna.gov.co/cim/businessentities/direccion" xmlns:inflab="http://www.fna.gov.co/cim/businessentities/informacionlaboral" xmlns:infofin="http://www.fna.gov.co/cim/businessentities/informacionfinanciera" xmlns:csntias="http://www.fna.gov.co/cim/businessentities/cesantias" xmlns:pernat="http://www.fna.gov.co/cim/businessentities/personanatural" xmlns:ident="http://www.fna.gov.co/cim/businessentities/identificacion" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/personanatural" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="identificacion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/identificacion" />
  <import schemaLocation="../BusinessEntitiesLib/direccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/direccion" />
  <import schemaLocation="../BusinessEntitiesLib/informacionlaboral.xsd" namespace="http://www.fna.gov.co/cim/businessentities/informacionlaboral" />
  <import schemaLocation="../BusinessEntitiesLib/informacionfinanciera.xsd" namespace="http://www.fna.gov.co/cim/businessentities/informacionfinanciera" />
  <import schemaLocation="cesantias.xsd" namespace="http://www.fna.gov.co/cim/businessentities/cesantias" />
  <complexType name="PersonaNatural">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="identificacion" type="ident:Identificacion" />
      <element minOccurs="0" maxOccurs="1" name="nombreCompleto" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombres" type="string" />
      <element minOccurs="0" maxOccurs="1" name="primerNombre" type="string" />
      <element minOccurs="0" maxOccurs="1" name="segundoNombre" type="string" />
      <element minOccurs="0" maxOccurs="1" name="primerApellido" type="string" />
      <element minOccurs="0" maxOccurs="1" name="segundoApellido" type="string" />
      <element minOccurs="0" maxOccurs="1" name="apellidos" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="date" />
      <element minOccurs="0" maxOccurs="1" name="lugarNacimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ciudadNacimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="departamentoNacimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="paisNacimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="sexo" type="string" />
      <element minOccurs="0" maxOccurs="1" name="estadoCivil" type="string" />
      <element minOccurs="0" maxOccurs="1" name="personasACargo" type="int" />
      <element minOccurs="0" maxOccurs="1" name="nivelEstudio" type="string" />
      <element minOccurs="0" maxOccurs="1" name="profesion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoVivienda" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="direccion" type="dir:DireccionFisica" />
      <element minOccurs="0" maxOccurs="1" name="filial" type="string" />
      <element minOccurs="0" maxOccurs="1" name="oficina" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaCreacion" type="date" />
      <element minOccurs="0" maxOccurs="1" name="fechaActualizacion" type="date" />
      <element minOccurs="0" maxOccurs="1" name="autorizaEnvioEmail" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="colombianoEnExterior" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoPaisExt" type="string" />
      <element minOccurs="0" maxOccurs="1" name="trasladoCesantias" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="ahorroProgramado" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="esFamiliar" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="direcccionElectronica" type="pernat:DireccionElectronica" />
      <element minOccurs="0" maxOccurs="1" name="medioActualizacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoAsesorComercial" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoOficialReferido" type="int" />
      <element minOccurs="0" maxOccurs="1" name="empresaDondeTrabaja" type="string" />
      <element minOccurs="0" maxOccurs="1" name="casillasPostales" type="pernat:CasillasPostales" />
      <element minOccurs="0" maxOccurs="1" name="informacionLaboral" type="inflab:InformacionLaboral" />
      <element minOccurs="0" maxOccurs="1" name="informacionFinanciera" type="infofin:InformacionFinanciera" />
      <element minOccurs="0" maxOccurs="unbounded" name="proteccionCesante" type="csntias:ProteccionCesante" />
    </sequence>
  </complexType>
  <complexType name="CasillasPostales">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="casillaPostal" type="pernat:CasillaPostal" />
    </sequence>
  </complexType>
  <complexType name="CasillaPostal">
    <complexContent mixed="false">
      <restriction base="dir:CasillaPostal">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="apartado" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoCiudad" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoEmpresa" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="DireccionElectronica">
    <complexContent mixed="false">
      <restriction base="dir:DireccionElectronica">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="correoElectronico" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
</schema>