Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPN/Web References/Cliente_RecuperarInfoPN/cuentaBancaria.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ctaban="http://www.fna.gov.co/cim/businessentities/cuentabancaria" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/cuentabancaria" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="CuentaBancaria">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="numeroCuenta" type="string" />
      <element minOccurs="1" maxOccurs="1" name="tipoCuenta" type="string" />
      <element minOccurs="1" maxOccurs="1" name="codigoBanco" type="string" />
    </sequence>
  </complexType>
</schema>