Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPN/Web References/Cliente_RecuperarInfoPN/informacionlaboral.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dir="http://www.fna.gov.co/cim/businessentities/direccion" xmlns:tel="http://www.fna.gov.co/cim/businessentities/telefono" xmlns:inflab="http://www.fna.gov.co/cim/businessentities/informacionlaboral" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/informacionlaboral" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../BusinessEntitiesLib/direccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/direccion" />
  <import schemaLocation="../BusinessEntitiesLib/telefono.xsd" namespace="http://www.fna.gov.co/cim/businessentities/telefono" />
  <complexType name="InformacionLaboral">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idEmpresa" type="int" />
      <element minOccurs="1" maxOccurs="1" name="nombre" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoContrato" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoEmpleo" type="string" />
      <element minOccurs="0" maxOccurs="1" name="cargo" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaIngreso" type="date" />
      <element minOccurs="0" maxOccurs="1" name="fechaSalida" type="date" />
      <element minOccurs="0" maxOccurs="1" name="salarioBasico" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="fechaRegistroSalario" type="date" />
      <element minOccurs="0" maxOccurs="1" name="monedaSalario" type="int" />
      <element minOccurs="0" maxOccurs="1" name="otrosIngresos" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="descripcionOtrosIngresos" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="seguroDesempleo" type="inflab:SeguroDesempleo" />
      <element minOccurs="0" maxOccurs="unbounded" name="direccion" type="inflab:Direccion" />
    </sequence>
  </complexType>
  <complexType name="SeguroDesempleo">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="companiaSeguro" type="string" />
      <element minOccurs="0" maxOccurs="1" name="poliza" type="string" />
      <element minOccurs="0" maxOccurs="1" name="observaciones" type="string" />
    </sequence>
  </complexType>
  <complexType name="Direccion">
    <complexContent mixed="false">
      <restriction base="dir:DireccionFisica">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="direccionCompleta" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoPais" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoCiudad" type="string" />
          <element minOccurs="0" maxOccurs="1" name="telefono" type="inflab:Telefono" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="Telefono">
    <complexContent mixed="false">
      <restriction base="tel:Telefono">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="numeroCompleto" type="string" />
          <element minOccurs="0" maxOccurs="1" name="idTelefono" type="string" />
          <element minOccurs="0" maxOccurs="1" name="extension" type="string" />
          <element minOccurs="0" maxOccurs="1" name="indicativo" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
</schema>