Bizagi.Catalogo.Funcionalidades/Bizagi.ECM.Manager/Service References/ECMService/Api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Api" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fnabogpapp001:8095/GestorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://fnabogpapp001:8095/GestorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fnabogpapp001:8095/GestorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkManager.Model.Entities" />
      <xsd:import schemaLocation="http://fnabogpapp001:8095/GestorService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApi_Gestor_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Gestor_Insertar" />
  </wsdl:message>
  <wsdl:message name="IApi_Gestor_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Gestor_InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IApi_Gestor_CambiarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:Gestor_CambiarDocumento" />
  </wsdl:message>
  <wsdl:message name="IApi_Gestor_CambiarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:Gestor_CambiarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IApi_Gestor_EliminarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:Gestor_EliminarDocumento" />
  </wsdl:message>
  <wsdl:message name="IApi_Gestor_EliminarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:Gestor_EliminarDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="IApi_Gestor_ConsultarDocumento_InputMessage">
    <wsdl:part name="parameters" element="tns:Gestor_ConsultarDocumento" />
  </wsdl:message>
  <wsdl:message name="IApi_Gestor_ConsultarDocumento_OutputMessage">
    <wsdl:part name="parameters" element="tns:Gestor_ConsultarDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IApi">
    <wsdl:operation name="Gestor_Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/Gestor_Insertar" message="tns:IApi_Gestor_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/Gestor_InsertarResponse" message="tns:IApi_Gestor_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gestor_CambiarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/Gestor_CambiarDocumento" message="tns:IApi_Gestor_CambiarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/Gestor_CambiarDocumentoResponse" message="tns:IApi_Gestor_CambiarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gestor_EliminarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/Gestor_EliminarDocumento" message="tns:IApi_Gestor_EliminarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/Gestor_EliminarDocumentoResponse" message="tns:IApi_Gestor_EliminarDocumento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gestor_ConsultarDocumento">
      <wsdl:input wsaw:Action="http://tempuri.org/IApi/Gestor_ConsultarDocumento" message="tns:IApi_Gestor_ConsultarDocumento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApi/Gestor_ConsultarDocumentoResponse" message="tns:IApi_Gestor_ConsultarDocumento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApi" type="tns:IApi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Gestor_Insertar">
      <soap:operation soapAction="http://tempuri.org/IApi/Gestor_Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gestor_CambiarDocumento">
      <soap:operation soapAction="http://tempuri.org/IApi/Gestor_CambiarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gestor_EliminarDocumento">
      <soap:operation soapAction="http://tempuri.org/IApi/Gestor_EliminarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gestor_ConsultarDocumento">
      <soap:operation soapAction="http://tempuri.org/IApi/Gestor_ConsultarDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Api">
    <wsdl:port name="BasicHttpBinding_IApi" binding="tns:BasicHttpBinding_IApi">
      <soap:address location="http://fnabogpapp001:8095/GestorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>