Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarInfoPJ/Web References/Cliente_RecuperarInfoPJ/personajuridica.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ident="http://www.fna.gov.co/cim/businessentities/identificacion" xmlns:dir="http://www.fna.gov.co/cim/businessentities/direccion" xmlns:tel="http://www.fna.gov.co/cim/businessentities/telefono" xmlns:perjur="http://www.fna.gov.co/cim/businessentities/personajuridica" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/personajuridica" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="identificacion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/identificacion" />
  <import schemaLocation="direccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/direccion" />
  <import schemaLocation="telefono.xsd" namespace="http://www.fna.gov.co/cim/businessentities/telefono" />
  <complexType name="DatosBasicosPJ">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="idCliente" type="string" />
      <element minOccurs="0" maxOccurs="1" name="identificacion" type="ident:Identificacion" />
      <element minOccurs="0" maxOccurs="1" name="nombreEmpresa" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreComercial" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoEmpresa" type="string" />
      <element minOccurs="0" maxOccurs="1" name="posicion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoCIIU" type="string" />
      <element minOccurs="0" maxOccurs="1" name="numeroDeEmpleados" type="string" />
      <element minOccurs="0" maxOccurs="1" name="vinculacionBandera" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoVinculacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="estadoCliente" type="string" />
      <element minOccurs="0" maxOccurs="1" name="grupoEconomico" type="string" />
      <element minOccurs="0" maxOccurs="1" name="sector" type="string" />
      <element minOccurs="0" maxOccurs="1" name="filial" type="string" />
      <element minOccurs="0" maxOccurs="1" name="direccionElectronica" type="perjur:DireccionElectronicaPJ" />
      <element minOccurs="0" maxOccurs="1" name="direcciones" type="perjur:Direcciones" />
      <element minOccurs="0" maxOccurs="1" name="casillasPostales" type="perjur:CasillasPostales" />
      <element minOccurs="0" maxOccurs="1" name="referenciasEconomicas" type="perjur:ReferenciasEconomicas" />
    </sequence>
  </complexType>
  <complexType name="ReferenciaEconomica">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="bancoReferencia" type="int" />
      <element minOccurs="0" maxOccurs="1" name="calificacionReferencia" type="string" />
      <element minOccurs="0" maxOccurs="1" name="cuentaReferencia" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaModificado" type="dateTime" />
      <element minOccurs="0" maxOccurs="1" name="fechaExpedicion" type="date" />
      <element minOccurs="0" maxOccurs="1" name="fechaRegistro" type="dateTime" />
      <element minOccurs="0" maxOccurs="1" name="funcionarioReferencia" type="string" />
      <element minOccurs="0" maxOccurs="1" name="montoReferencia" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="observacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoProducto" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoReferencia" type="string" />
    </sequence>
  </complexType>
  <complexType name="DireccionPJ">
    <complexContent mixed="false">
      <restriction base="dir:DireccionFisica">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="direccionCompleta" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoPais" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoCiudad" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoDepartamento" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoCorregimiento" type="string" />
          <element minOccurs="0" maxOccurs="1" name="tipoDireccion" type="string" />
          <element minOccurs="0" maxOccurs="1" name="nombreBarrio" type="string" />
          <element minOccurs="0" maxOccurs="1" name="estrato" type="string" />
          <element minOccurs="0" maxOccurs="1" name="principal" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="CasillaPostalPJ">
    <complexContent mixed="false">
      <restriction base="dir:CasillaPostal">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="apartado" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoCiudad" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoProvincia" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="DireccionElectronicaPJ">
    <complexContent mixed="false">
      <restriction base="dir:DireccionElectronica">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="correoElectronico" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="TelefonoPJ">
    <complexContent mixed="false">
      <restriction base="tel:Telefono">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="tipoTelefono" type="string" />
          <element minOccurs="0" maxOccurs="1" name="numeroTelefono" type="string" />
          <element minOccurs="0" maxOccurs="1" name="extension" type="string" />
          <element minOccurs="0" maxOccurs="1" name="indicativo" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="CasillasPostales">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="casillaPostal" type="perjur:CasillaPostalPJ" />
    </sequence>
  </complexType>
  <complexType name="Direcciones">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="direccion" type="perjur:DireccionPJT" />
    </sequence>
  </complexType>
  <complexType name="Telefonos">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="telefono" type="perjur:TelefonoPJ" />
    </sequence>
  </complexType>
  <complexType name="ReferenciasEconomicas">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="referenciaEconomica" type="perjur:ReferenciaEconomica" />
    </sequence>
  </complexType>
  <complexType name="DatosLegalesPJ">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="fechaConstitucion" type="date" />
      <element minOccurs="0" maxOccurs="1" name="fechaInscripcion" type="date" />
      <element minOccurs="0" maxOccurs="1" name="fechaVencimiento" type="date" />
      <element minOccurs="0" maxOccurs="1" name="notaria" type="int" />
      <element minOccurs="0" maxOccurs="1" name="objetoSocial" type="string" />
      <element minOccurs="0" maxOccurs="1" name="reservaLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="numeroEscritura" type="int" />
      <element minOccurs="0" maxOccurs="1" name="camaraComercio" type="int" />
      <element minOccurs="0" maxOccurs="1" name="gradoSociedad" type="int" />
      <element minOccurs="0" maxOccurs="1" name="matriculaNumero" type="int" />
      <element minOccurs="0" maxOccurs="unbounded" name="datosRepresentanteLegal" type="perjur:DatosRepresentanteLegal" />
      <element minOccurs="0" maxOccurs="unbounded" name="datosSocios" type="perjur:DatosSocios" />
    </sequence>
  </complexType>
  <complexType name="DatosRepresentanteLegal">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="codigoRepresentanteLegal" type="int" />
      <element minOccurs="0" maxOccurs="1" name="nombresRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="primerApellidoRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="segundoApellidoRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoDocumentoRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="numeroDocumentoRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="direccionRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="telefonoRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoTelefonoRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="extensionTelefonoRepresentanteLegal" type="string" />
      <element minOccurs="0" maxOccurs="1" name="indicativoTelefonoRepresentanteLegal" type="int" />
    </sequence>
  </complexType>
  <complexType name="DatosSocios">
    <sequence>
      <element minOccurs="1" maxOccurs="unbounded" name="datosSocio" type="perjur:DatosSocio" />
    </sequence>
  </complexType>
  <complexType name="DatosSocio">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="tipoPersona" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreCompletoSocio" type="string" />
      <element minOccurs="0" maxOccurs="1" name="primerApellidoSocio" type="string" />
      <element minOccurs="0" maxOccurs="1" name="segundoApellidoSocio" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoDocumento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="numeroDocumento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="participacionSocio" type="string" />
      <element minOccurs="0" maxOccurs="1" name="valorParticipacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="numeroCuotasAcciones" type="string" />
    </sequence>
  </complexType>
  <complexType name="DatosFinancierosPJ">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="totalPatrimonio" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="totalPasivos" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="totalActivos" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="ingresos" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="egresos" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="ingresosNoOperacionales" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="tipoAportante" type="string" />
      <element minOccurs="0" maxOccurs="1" name="grandesContribuyentes" type="string" />
      <element minOccurs="0" maxOccurs="1" name="reportadoSuperbancaria" type="string" />
      <element minOccurs="0" maxOccurs="1" name="comentarios" type="string" />
      <element minOccurs="0" maxOccurs="1" name="operacionesInternacionales" type="perjur:OperacionesInternacionales" />
    </sequence>
  </complexType>
  <complexType name="OperacionesInternacionales">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="operacionInternacional" type="perjur:OperacionInternacional" />
    </sequence>
  </complexType>
  <complexType name="OperacionInternacional">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="operacionesInternacionales" type="string" />
      <element minOccurs="0" maxOccurs="1" name="idmoneda" type="int" />
      <element minOccurs="0" maxOccurs="1" name="tipoOperacionIntenacional" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoProducto" type="string" />
      <element minOccurs="0" maxOccurs="1" name="montoOperacionesInternacionales" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="idProductoCliente" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreEntidad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="idPais" type="string" />
      <element minOccurs="0" maxOccurs="1" name="idCiudad" type="string" />
    </sequence>
  </complexType>
  <complexType name="DireccionPJT">
    <complexContent mixed="false">
      <extension base="perjur:DireccionPJ">
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="telefonos" type="perjur:TelefonoPJ" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>