Bizagi.Catalogo.Funcionalidades/Bizagi.ECM.Manager/Service References/CorrespondenceService/WorkManagerApi31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fnabogpapp001:8088/WorkManagerApi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" />
  <xs:element name="ReadRegistroFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" minOccurs="0" name="value" nillable="true" type="q1:FormulariosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRegistroFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadRegistroFormularioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdjuntarArchivosPorRegistroFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" minOccurs="0" name="value" nillable="true" type="q2:DocumentosRequestPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdjuntarArchivosPorRegistroFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdjuntarArchivosPorRegistroFormularioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRegistroFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" minOccurs="0" name="value" nillable="true" type="q3:FormulariosRequestPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRegistroFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRegistroFormularioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegistroFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" minOccurs="0" name="value" nillable="true" type="q4:FormulariosRequestPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRegistroFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRegistroFormularioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegistroFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" minOccurs="0" name="value" nillable="true" type="q5:FormulariosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegistroFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRegistroFormularioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiposDocumentosByIdFormualrio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" minOccurs="0" name="value" nillable="true" type="q6:TipoDocumentoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTiposDocumentosByIdFormualrioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTiposDocumentosByIdFormualrioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoByIdFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" minOccurs="0" name="value" nillable="true" type="q7:DocumentosRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentoByIdFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentoByIdFormularioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CumplirTarea">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WorkManager.Model.Business.Dto" minOccurs="0" name="value" nillable="true" type="q8:CumplirTareaDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CumplirTareaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>