Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarDetalleTramite/Web References/Cliente_RecuperarDetalleTramite/Credito_RecuperarDetalleTramite.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.fna.gov.co/esb/services/soap/credito/recuperardetalletramite/v1" xmlns:excpg="http://www.fna.gov.co/cim/businessentities/excepciongenerica" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Credito_RecuperarDetalleTramite" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/recuperardetalletramite/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:mrm="http://www.fna.gov.co/esb/services/soap/credito/recuperardetalletramite/v1" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/recuperardetalletramite/v1">
      <xsd:include schemaLocation="../../xsd/recuperardetalletramite.xsd" />
      <xsd:import schemaLocation="../../../../BusinessEntitiesLib/excepciongenerica.xsd" namespace="http://www.fna.gov.co/cim/businessentities/excepciongenerica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="headerRq">
    <wsdl:part name="headerRq" element="tns:headerRq" />
  </wsdl:message>
  <wsdl:message name="headerRs">
    <wsdl:part name="headerRs" element="tns:headerRs" />
  </wsdl:message>
  <wsdl:message name="recuperarDetalleTramite_in">
    <wsdl:part name="RecuperarDetalleTramiteRq" element="tns:RecuperarDetalleTramiteRq" />
  </wsdl:message>
  <wsdl:message name="recuperarDetalleTramite_out">
    <wsdl:part name="RecuperarDetalleTramiteRs" element="tns:RecuperarDetalleTramiteRs" />
  </wsdl:message>
  <wsdl:message name="recuperarDetalleTramite_fault1">
    <wsdl:part name="excepcionGenerica" element="excpg:excepcionGenerica" />
  </wsdl:message>
  <wsdl:portType name="Credito_RecuperarDetalleTramitePortType">
    <wsdl:operation name="recuperarDetalleTramite">
      <wsdl:input name="recuperarDetalleTramite_Input" message="tns:recuperarDetalleTramite_in" />
      <wsdl:output name="recuperarDetalleTramite_Output" message="tns:recuperarDetalleTramite_out" />
      <wsdl:fault name="recuperarDetalleTramite_Fault" message="tns:recuperarDetalleTramite_fault1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Credito_RecuperarDetalleTramiteBinding12" type="tns:Credito_RecuperarDetalleTramitePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recuperarDetalleTramite">
      <soap12:operation soapAction="recuperarDetalleTramite" />
      <wsdl:input name="recuperarDetalleTramite_Input">
        <soap12:header message="tns:headerRq" part="headerRq" use="literal" />
        <soap12:body use="literal" parts="RecuperarDetalleTramiteRq" />
      </wsdl:input>
      <wsdl:output name="recuperarDetalleTramite_Output">
        <soap12:header message="tns:headerRs" part="headerRs" use="literal" />
        <soap12:body use="literal" parts="RecuperarDetalleTramiteRs" />
      </wsdl:output>
      <wsdl:fault name="recuperarDetalleTramite_Fault">
        <soap12:fault use="literal" name="recuperarDetalleTramite_Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Credito_RecuperarDetalleTramiteService">
    <wsdl:port name="Credito_RecuperarDetalleTramitePort12" binding="tns:Credito_RecuperarDetalleTramiteBinding12">
      <soap12:address location="http://localhost:7800/esb/services/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>