Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarDetalleTramite/Web References/Cliente_RecuperarDetalleTramite/desembolso.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dsblso="http://www.fna.gov.co/cim/businessentities/desembolso" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/desembolso" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="Desembolso">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="fechaDesembolso" type="date" />
      <element minOccurs="0" maxOccurs="1" name="monto" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="montoUvr" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="cotizacion" type="decimal" />
    </sequence>
  </complexType>
</schema>