Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.BancoProyectos.CrearEstructuraInmob/Web References/CrearEstructuraInmob/BancoProyectos_CrearEstructuraInmobiliaria.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.fna.gov.co/esb/services/bancoproyectos/crearestructurainmobiliaria/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BancoProyectos_CrearEstructuraInmobiliaria" targetNamespace="http://www.fna.gov.co/esb/services/bancoproyectos/crearestructurainmobiliaria/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:Q1="http://www.fna.gov.co/cim/businessentities/excepciongenerica" xmlns:Q2="http://www.fna.gov.co/esb/services/cl/consumerheader" targetNamespace="http://www.fna.gov.co/esb/services/bancoproyectos/crearestructurainmobiliaria/v1">
      <xsd:include schemaLocation="../../xsd/CrearEstructuraInmobiliaria.xsd" />
      <xsd:import schemaLocation="../../../../CommonsLib/consumerHeader.xsd" namespace="http://www.fna.gov.co/esb/services/cl/consumerheader" />
      <xsd:import schemaLocation="../../../../BusinessEntitiesLib/excepciongenerica.xsd" namespace="http://www.fna.gov.co/cim/businessentities/excepciongenerica" />
      <xsd:element name="consumerHeader" type="Q2:ConsumerHeader" />
      <xsd:element name="CrearEstructuraInmobiliariaFault">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CrearEstructuraInmobiliariaFault" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CrearEstructuraInmobiliariaFault1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CrearEstructuraInmobiliariaFault" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="excepcionSistema" type="Q1:excepcionGenerica" />
      <xsd:element name="excepcionNegocio" type="Q1:excepcionGenerica" />
      <xsd:element name="CrearEstructuraInmobiliariaRequest" type="tns:ServiceRequest" />
      <xsd:element name="CrearEstructuraInmobiliariaResponse" type="tns:ServicioResponse" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CrearEstructuraInmobiliariaFault">
    <wsdl:part name="parameters" element="tns:excepcionSistema" />
  </wsdl:message>
  <wsdl:message name="CrearEstructuraInmobiliariaFault1">
    <wsdl:part name="parameters" element="tns:excepcionNegocio" />
  </wsdl:message>
  <wsdl:message name="CrearEstructuraInmobiliaria_in">
    <wsdl:part name="bodyparms" element="tns:CrearEstructuraInmobiliariaRequest" />
    <wsdl:part name="srvHdr" element="tns:consumerHeader" />
  </wsdl:message>
  <wsdl:message name="CrearEstructuraInmobiliaria_out">
    <wsdl:part name="bodyparms" element="tns:CrearEstructuraInmobiliariaResponse" />
  </wsdl:message>
  <wsdl:portType name="BancoProyectos_CrearEstructuraInmobiliariaPortType">
    <wsdl:operation name="CrearEstructuraInmobiliaria">
      <wsdl:input name="CrearEstructuraInmobiliaria_input" message="tns:CrearEstructuraInmobiliaria_in" />
      <wsdl:output name="CrearEstructuraInmobiliaria_output" message="tns:CrearEstructuraInmobiliaria_out" />
      <wsdl:fault name="fault" message="tns:CrearEstructuraInmobiliariaFault" />
      <wsdl:fault name="fault1" message="tns:CrearEstructuraInmobiliariaFault1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BancoProyectos_CrearEstructuraInmobiliaria_Binding12" type="tns:BancoProyectos_CrearEstructuraInmobiliariaPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearEstructuraInmobiliaria">
      <soap12:operation soapAction="CrearEstructuraInmobiliaria" />
      <wsdl:input name="CrearEstructuraInmobiliaria_input">
        <soap12:header message="tns:CrearEstructuraInmobiliaria_in" part="srvHdr" use="literal" />
        <soap12:body use="literal" parts="bodyparms" />
      </wsdl:input>
      <wsdl:output name="CrearEstructuraInmobiliaria_output">
        <soap12:body use="literal" parts="bodyparms" />
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap12:fault use="literal" name="CrearEstructuraInmobiliariaFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="fault1">
        <soap12:fault use="literal" name="CrearEstructuraInmobiliariaFault1" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BancoProyectos_CrearEstructuraInmobiliaria_Service">
    <wsdl:port name="BancoProyectos_CrearEstructuraInmobiliaria_Port12" binding="tns:BancoProyectos_CrearEstructuraInmobiliaria_Binding12">
      <soap12:address location="http://localhost:7800/esb/services/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>