Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.BancoProyectos.CrearEstructuraInmob/Web References/CrearEstructuraInmob/CrearEstructuraInmobiliaria.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dir="http://www.fna.gov.co/cim/businessentities/direccion" xmlns:clsfprq="http://www.fna.gov.co/cim/businessentities/clasificacionparqueo" xmlns:detareconstr="http://www.fna.gov.co/cim/businessentities/detalleareaconstruccion" xmlns:inviv="http://www.fna.gov.co/cim/businessentities/inventarioviviendas" xmlns:clsfinm="http://www.fna.gov.co/cim/businessentities/clasificacioninmueble" xmlns:compgeninm="http://www.fna.gov.co/cim/businessentities/composiciongeneralinmobiliario" xmlns:infestrinm="http://www.fna.gov.co/cim/businessentities/informacionestructurainmobiliaria" xmlns:srv="http://www.fna.gov.co/esb/services/bancoproyectos/crearestructurainmobiliaria/v1" xmlns:ns1="http://www.fna.gov.co/cim/businessentities/detalleAreaLote" xmlns:detarelote="http://www.fna.gov.co/cim/businessentities/detallearealote" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/esb/services/bancoproyectos/crearestructurainmobiliaria/v1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../BusinessEntitiesLib/informacionEstructuraInmobiliaria.xsd" namespace="http://www.fna.gov.co/cim/businessentities/informacionestructurainmobiliaria" />
  <import schemaLocation="../../../BusinessEntitiesLib/direccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/direccion" />
  <import schemaLocation="../../../BusinessEntitiesLib/inventarioViviendas.xsd" namespace="http://www.fna.gov.co/cim/businessentities/inventarioviviendas" />
  <import schemaLocation="../../../BusinessEntitiesLib/clasificacionInmueble.xsd" namespace="http://www.fna.gov.co/cim/businessentities/clasificacioninmueble" />
  <import schemaLocation="../../../BusinessEntitiesLib/composicionGeneralInmobiliario.xsd" namespace="http://www.fna.gov.co/cim/businessentities/composiciongeneralinmobiliario" />
  <import schemaLocation="../../../BusinessEntitiesLib/clasificacionParqueo.xsd" namespace="http://www.fna.gov.co/cim/businessentities/clasificacionparqueo" />
  <import schemaLocation="../../../BusinessEntitiesLib/detalleAreaLote.xsd" namespace="http://www.fna.gov.co/cim/businessentities/detallearealote" />
  <import schemaLocation="../../../BusinessEntitiesLib/detalleAreaConstruccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/detalleareaconstruccion" />
  <complexType name="InventarioViviendas_Crear">
    <complexContent mixed="false">
      <restriction base="inviv:InventarioViviendas">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="viviendasInteresPrioritario" type="int" />
          <element minOccurs="1" maxOccurs="1" name="viviendasInteresSocial" type="int" />
          <element minOccurs="1" maxOccurs="1" name="viviendasInteresNormal" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="ClasificacionInmueble_Crear">
    <complexContent mixed="false">
      <restriction base="clsfinm:ClasificacionInmueble">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="cantidadCasas" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadCasasBifamiliarias" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadApartamentos" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="ComposicionGeneralInmobiliario_Crear">
    <complexContent mixed="false">
      <restriction base="compgeninm:ComposicionGeneralInmobiliario">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="cantidadLotes" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadManzanas" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadTorres" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadBloques" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadPisos" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadDepositos" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="ClasificacionParqueo_Crear">
    <complexContent mixed="false">
      <restriction base="clsfprq:ClasificacionParqueo">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="cantidadPrivados" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadVisitantes" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadComunales" type="int" />
          <element minOccurs="1" maxOccurs="1" name="cantidadDiscapacitados" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="DetalleAreaLote_Crear">
    <complexContent mixed="false">
      <restriction base="detarelote:DetalleAreaLote">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="areaBruta" type="decimal" />
          <element minOccurs="1" maxOccurs="1" name="areaProteccion" type="decimal" />
          <element minOccurs="1" maxOccurs="1" name="areaAfectada" type="decimal" />
          <element minOccurs="1" maxOccurs="1" name="areaCesion" type="decimal" />
          <element minOccurs="1" maxOccurs="1" name="areaTotalConstruida" type="decimal" />
          <element minOccurs="1" maxOccurs="1" name="areaConstruidaPrimerPiso" type="decimal" />
          <element minOccurs="1" maxOccurs="1" name="areaVendibleVivienda" type="decimal" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="InformacionEstructuraInmobiliaria_Crear">
    <complexContent mixed="false">
      <restriction base="infestrinm:InformacionEstructuraInmobiliaria">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="inventarioViviendasPorEstructura" type="srv:InventarioViviendas_Crear" />
          <element minOccurs="1" maxOccurs="1" name="clasificacionInmuebleEstructura" type="srv:ClasificacionInmueble_Crear" />
          <element minOccurs="1" maxOccurs="1" name="composicionGeneralEstructura" type="srv:ComposicionGeneralInmobiliario_Crear" />
          <element minOccurs="1" maxOccurs="1" name="clasificacionParqueoEstructura" type="srv:ClasificacionParqueo_Crear" />
          <element minOccurs="1" maxOccurs="1" name="detalleAreaLoteEstructura" type="srv:DetalleAreaLote_Crear" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="ServicioResponse">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idEstructura" type="int" />
    </sequence>
  </complexType>
  <element name="crearEstructuraResponse" type="srv:ServicioResponse" />
  <element name="crearEstructuraRequest" type="srv:ServiceRequest" />
  <complexType name="ServiceRequest">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="idProyecto" type="int" />
      <element minOccurs="1" maxOccurs="1" name="informacionEstructuraInmobiliaria" type="srv:InformacionEstructuraInmobiliaria_Crear" />
    </sequence>
  </complexType>
</schema>