Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.BancoProyectos.CrearEstructuraInmob/Web References/CrearEstructuraInmob/informacionEstructuraInmobiliaria.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dir="http://www.fna.gov.co/cim/businessentities/direccion" xmlns:clsfprq="http://www.fna.gov.co/cim/businessentities/clasificacionparqueo" xmlns:detareconstr="http://www.fna.gov.co/cim/businessentities/detalleareaconstruccion" xmlns:inviv="http://www.fna.gov.co/cim/businessentities/inventarioviviendas" xmlns:clsfinm="http://www.fna.gov.co/cim/businessentities/clasificacioninmueble" xmlns:infestrinm="http://www.fna.gov.co/cim/businessentities/informacionestructurainmobiliaria" xmlns:compgeninm="http://www.fna.gov.co/cim/businessentities/composiciongeneralinmobiliario" xmlns:detarelote="http://www.fna.gov.co/cim/businessentities/detallearealote" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/informacionestructurainmobiliaria" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../BusinessEntitiesLib/direccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/direccion" />
  <import schemaLocation="../BusinessEntitiesLib/inventarioViviendas.xsd" namespace="http://www.fna.gov.co/cim/businessentities/inventarioviviendas" />
  <import schemaLocation="../BusinessEntitiesLib/clasificacionInmueble.xsd" namespace="http://www.fna.gov.co/cim/businessentities/clasificacioninmueble" />
  <import schemaLocation="../BusinessEntitiesLib/composicionGeneralInmobiliario.xsd" namespace="http://www.fna.gov.co/cim/businessentities/composiciongeneralinmobiliario" />
  <import schemaLocation="../BusinessEntitiesLib/clasificacionParqueo.xsd" namespace="http://www.fna.gov.co/cim/businessentities/clasificacionparqueo" />
  <import schemaLocation="../BusinessEntitiesLib/detalleAreaConstruccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/detalleareaconstruccion" />
  <import schemaLocation="../BusinessEntitiesLib/detalleAreaLote.xsd" namespace="http://www.fna.gov.co/cim/businessentities/detallearealote" />
  <complexType name="InformacionEstructuraInmobiliaria">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="idEstructura" type="int" />
      <element minOccurs="0" maxOccurs="1" name="inventarioViviendasPorEstructura" type="inviv:InventarioViviendas" />
      <element minOccurs="0" maxOccurs="1" name="clasificacionInmuebleEstructura" type="clsfinm:ClasificacionInmueble" />
      <element minOccurs="0" maxOccurs="1" name="composicionGeneralEstructura" type="compgeninm:ComposicionGeneralInmobiliario" />
      <element minOccurs="0" maxOccurs="1" name="clasificacionParqueoEstructura" type="clsfprq:ClasificacionParqueo" />
      <element minOccurs="0" maxOccurs="1" name="detalleAreaLoteEstructura" type="detarelote:DetalleAreaLote" />
    </sequence>
  </complexType>
</schema>