Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarTramites/Service References/Cliente_RecuperarTramite/Credito_RecuperarTramiteSolicitudes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.fna.gov.co/esb/services/soap/credito/recuperartramitesolicitudes/v2" xmlns:excpg="http://www.fna.gov.co/cim/businessentities/excepciongenerica" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Credito_RecuperarTramiteSolicitudes" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/recuperartramitesolicitudes/v2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:mrm="http://www.fna.gov.co/esb/services/soap/credito/recuperartramitesolicitudes/v2" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/recuperartramitesolicitudes/v2">
      <xsd:include schemaLocation="../../xsd/ConsultarTramitesCreditoPorIdentificacion.xsd" />
      <xsd:import schemaLocation="../../../../BusinessEntitiesLib/excepciongenerica.xsd" namespace="http://www.fna.gov.co/cim/businessentities/excepciongenerica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="headerRq">
    <wsdl:part name="headerRq" element="tns:headerRq" />
  </wsdl:message>
  <wsdl:message name="headerRs">
    <wsdl:part name="headerRs" element="tns:headerRs" />
  </wsdl:message>
  <wsdl:message name="consultarTramitesCreditoPorIdentificacion_in">
    <wsdl:part name="ConsultarTramitesCreditoPorIdentificacionRq" element="tns:ConsultarTramitesCreditoPorIdentificacionRq" />
  </wsdl:message>
  <wsdl:message name="consultarTramitesCreditoPorIdentificacion_out">
    <wsdl:part name="ConsultarTramitesCreditoPorIdentificacionRs" element="tns:ConsultarTramitesCreditoPorIdentificacionRs" />
  </wsdl:message>
  <wsdl:message name="consultarTramitesCreditoPorIdentificacion_fault1">
    <wsdl:part name="excepcionGenerica" element="excpg:excepcionGenerica" />
  </wsdl:message>
  <wsdl:portType name="Credito_RecuperarTramiteSolicitudesPortType">
    <wsdl:operation name="consultarTramitesCreditoPorIdentificacion">
      <wsdl:input name="consultarTramitesCreditoPorIdentificacion_Input" message="tns:consultarTramitesCreditoPorIdentificacion_in" />
      <wsdl:output name="consultarTramitesCreditoPorIdentificacion_Output" message="tns:consultarTramitesCreditoPorIdentificacion_out" />
      <wsdl:fault name="consultarTramitesCreditoPorIdentificacion_Fault" message="tns:consultarTramitesCreditoPorIdentificacion_fault1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Credito_RecuperarTramiteSolicitudesBinding12" type="tns:Credito_RecuperarTramiteSolicitudesPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarTramitesCreditoPorIdentificacion">
      <soap12:operation soapAction="consultarTramitesCreditoPorIdentificacion" />
      <wsdl:input name="consultarTramitesCreditoPorIdentificacion_Input">
        <soap12:header message="tns:headerRq" part="headerRq" use="literal" />
        <soap12:body use="literal" parts="ConsultarTramitesCreditoPorIdentificacionRq" />
      </wsdl:input>
      <wsdl:output name="consultarTramitesCreditoPorIdentificacion_Output">
        <soap12:header message="tns:headerRs" part="headerRs" use="literal" />
        <soap12:body use="literal" parts="ConsultarTramitesCreditoPorIdentificacionRs" />
      </wsdl:output>
      <wsdl:fault name="consultarTramitesCreditoPorIdentificacion_Fault">
        <soap12:fault use="literal" name="consultarTramitesCreditoPorIdentificacion_Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Credito_RecuperarTramiteSolicitudesService">
    <wsdl:port name="Credito_RecuperarTramiteSolicitudesPort12" binding="tns:Credito_RecuperarTramiteSolicitudesBinding12">
      <soap12:address location="http://localhost:7800/esb/services/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>