Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarTramites/Service References/Cliente_RecuperarTramite/pep.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:pep="http://www.fna.gov.co/cim/businessentities/pep" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/pep" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="PEP">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="esServidorPublico" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="manejaRecursosPublicos" type="boolean" />
      <element minOccurs="0" name="esReconocidoPublicamente" type="boolean" />
      <element minOccurs="0" maxOccurs="unbounded" name="codigoReconocimientoPublico" type="string" />
      <element minOccurs="0" name="vinculoPersonasPublicas" type="boolean" />
      <element minOccurs="0" name="otro" type="string" />
    </sequence>
  </complexType>
</schema>