Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.RecuperarTramites/Service References/Cliente_RecuperarTramite/tipoafiliacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:afl="http://www.fna.gov.co/cim/businessentities/tipoafiliacion" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/tipoafiliacion" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="TipoAfiliacion">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="cesantias" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="AVC" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="beneficioAFC" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="AVCColombiano" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="autorizaDebitoAutomatico" type="boolean" />
    </sequence>
  </complexType>
</schema>