Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.ConsultarCargaTrabajo/Service References/Credito_ConsultarCargaTrabajo/Credito_ConsultarCargaTrabajo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.fna.gov.co/esb/services/soap/credito/consultarcargatrabajo/v1" xmlns:excpg="http://www.fna.gov.co/cim/businessentities/excepciongenerica" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Credito_ConsultarCargaTrabajo" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/consultarcargatrabajo/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:mrm="http://www.fna.gov.co/esb/services/soap/credito/consultarcargatrabajo/v1" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/consultarcargatrabajo/v1">
      <xsd:include schemaLocation="../../xsd/consultarcargatrabajo.xsd" />
      <xsd:import schemaLocation="../../../../BusinessEntitiesLib/excepciongenerica.xsd" namespace="http://www.fna.gov.co/cim/businessentities/excepciongenerica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="headerRq">
    <wsdl:part name="headerRq" element="tns:headerRq" />
  </wsdl:message>
  <wsdl:message name="headerRs">
    <wsdl:part name="headerRs" element="tns:headerRs" />
  </wsdl:message>
  <wsdl:message name="consultarCargaTrabajoPorEtapa_in">
    <wsdl:part name="ConsultarCargaTrabajoPorEtapaRq" element="tns:ConsultarCargaTrabajoPorEtapaRq" />
  </wsdl:message>
  <wsdl:message name="consultarCargaTrabajoPorEtapa_out">
    <wsdl:part name="ConsultarCargaTrabajoPorEtapaRs" element="tns:ConsultarCargaTrabajoPorEtapaRs" />
  </wsdl:message>
  <wsdl:message name="consultarCargaTrabajoPorEtapa_fault1">
    <wsdl:part name="excepcionGenerica" element="excpg:excepcionGenerica" />
  </wsdl:message>
  <wsdl:portType name="Credito_ConsultarCargaTrabajoPortType">
    <wsdl:operation name="consultarCargaTrabajoPorEtapa">
      <wsdl:input name="consultarCargaTrabajoPorEtapa_Input" message="tns:consultarCargaTrabajoPorEtapa_in" />
      <wsdl:output name="consultarCargaTrabajoPorEtapa_Output" message="tns:consultarCargaTrabajoPorEtapa_out" />
      <wsdl:fault name="consultarCargaTrabajoPorEtapa_Fault" message="tns:consultarCargaTrabajoPorEtapa_fault1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Credito_ConsultarCargaTrabajoBinding12" type="tns:Credito_ConsultarCargaTrabajoPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultarCargaTrabajoPorEtapa">
      <soap12:operation soapAction="consultarCargaTrabajoPorEtapa" />
      <wsdl:input name="consultarCargaTrabajoPorEtapa_Input">
        <soap12:header message="tns:headerRq" part="headerRq" use="literal" />
        <soap12:body use="literal" parts="ConsultarCargaTrabajoPorEtapaRq" />
      </wsdl:input>
      <wsdl:output name="consultarCargaTrabajoPorEtapa_Output">
        <soap12:header message="tns:headerRs" part="headerRs" use="literal" />
        <soap12:body use="literal" parts="ConsultarCargaTrabajoPorEtapaRs" />
      </wsdl:output>
      <wsdl:fault name="consultarCargaTrabajoPorEtapa_Fault">
        <soap12:fault use="literal" name="consultarCargaTrabajoPorEtapa_Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Credito_ConsultarCargaTrabajoService">
    <wsdl:port name="Credito_ConsultarCargaTrabajoPort12" binding="tns:Credito_ConsultarCargaTrabajoBinding12">
      <soap12:address location="http://localhost:7800/esb/services/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>