Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.AsignarEstacionTramite/Service References/Credito_AsignarEstacionTramite/Credito_AsignarEstacionTramite.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.fna.gov.co/esb/services/soap/credito/asignarestaciontramitecredito/v1" xmlns:excpg="http://www.fna.gov.co/cim/businessentities/excepciongenerica" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Credito_AsignarEstacionTramite" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/asignarestaciontramitecredito/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:mrm="http://www.fna.gov.co/esb/services/soap/credito/asignarestaciontramitecredito/v1" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/asignarestaciontramitecredito/v1">
      <xsd:include schemaLocation="../../xsd/AsignarEstacionTramite.xsd" />
      <xsd:import schemaLocation="../../../../BusinessEntitiesLib/excepciongenerica.xsd" namespace="http://www.fna.gov.co/cim/businessentities/excepciongenerica" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="headerRq">
    <wsdl:part name="headerRq" element="tns:headerRq" />
  </wsdl:message>
  <wsdl:message name="headerRs">
    <wsdl:part name="headerRs" element="tns:headerRs" />
  </wsdl:message>
  <wsdl:message name="asignarEstacionTramite_in">
    <wsdl:part name="AsignarEstacionTramiteRq" element="tns:AsignarEstacionTramiteRq" />
  </wsdl:message>
  <wsdl:message name="asignarEstacionTramite_out">
    <wsdl:part name="AsignarEstacionTramiteRs" element="tns:AsignarEstacionTramiteRs" />
  </wsdl:message>
  <wsdl:message name="asignarEstacionTramite_fault1">
    <wsdl:part name="excepcionGenerica" element="excpg:excepcionGenerica" />
  </wsdl:message>
  <wsdl:portType name="Credito_AsignarEstacionTramitePortType">
    <wsdl:operation name="asignarEstacionTramite">
      <wsdl:input name="asignarEstacionTramite_Input" message="tns:asignarEstacionTramite_in" />
      <wsdl:output name="asignarEstacionTramite_Output" message="tns:asignarEstacionTramite_out" />
      <wsdl:fault name="asignarEstacionTramite_Fault" message="tns:asignarEstacionTramite_fault1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Credito_AsignarEstacionTramiteBinding12" type="tns:Credito_AsignarEstacionTramitePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="asignarEstacionTramite">
      <soap12:operation soapAction="asignarEstacionTramite" />
      <wsdl:input name="asignarEstacionTramite_Input">
        <soap12:header message="tns:headerRq" part="headerRq" use="literal" />
        <soap12:body use="literal" parts="AsignarEstacionTramiteRq" />
      </wsdl:input>
      <wsdl:output name="asignarEstacionTramite_Output">
        <soap12:header message="tns:headerRs" part="headerRs" use="literal" />
        <soap12:body use="literal" parts="AsignarEstacionTramiteRs" />
      </wsdl:output>
      <wsdl:fault name="asignarEstacionTramite_Fault">
        <soap12:fault use="literal" name="asignarEstacionTramite_Fault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Credito_AsignarEstacionTramiteService">
    <wsdl:port name="Credito_AsignarEstacionTramitePort12" binding="tns:Credito_AsignarEstacionTramiteBinding12">
      <soap12:address location="http://localhost:7800/esb/services/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>