Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.EnrutarTramiteCredito/Web References/Credito_EnrutarTramiteCredito/EnrutarTramiteCredito.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ns2="http://www.fna.gov.co/esb/services/cl/consumerheader/v1" xmlns:this="http://www.fna.gov.co/esb/services/soap/credito/enrutartramitecredito/v1" xmlns:ident="http://www.fna.gov.co/cim/businessentities/identificacion" xmlns:trmt="http://www.fna.gov.co/cim/businessentities/tramite" xmlns:ns3="http://www.fna.gov.co/esb/services/cl/consumerheader" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/enrutartramitecredito/v1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../CommonsLib/consumerHeaderResponse.xsd" namespace="http://www.fna.gov.co/esb/services/cl/consumerheader/v1" />
  <import schemaLocation="../../../CommonsLib/consumerHeader.xsd" namespace="http://www.fna.gov.co/esb/services/cl/consumerheader" />
  <import schemaLocation="../../../BusinessEntitiesLib/tramite.xsd" namespace="http://www.fna.gov.co/cim/businessentities/tramite" />
  <import schemaLocation="../../../BusinessEntitiesLib/identificacion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/identificacion" />
  <element name="headerRq" type="ns3:ConsumerHeader" />
  <element name="headerRs" type="ns2:ConsumerHeaderResponse_v1.0" />
  <element name="EnrutarTramiteCreditoRq" type="this:EnrutarTramiteCreditoRqType" />
  <element name="EnrutarTramiteCreditoRs" type="this:EnrutarTramiteCreditoRsType" />
  <complexType name="EnrutarTramiteCreditoRqType">
    <sequence>
      <element name="tramite" type="this:tramiteType" />
      <element minOccurs="1" maxOccurs="1" name="identificacionDeudor" type="this:identificacionType" />
    </sequence>
  </complexType>
  <complexType name="EnrutarTramiteCreditoRsType">
    <sequence />
  </complexType>
  <complexType name="tramiteType">
    <complexContent mixed="false">
      <restriction base="trmt:Tramite">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="idTramite" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="identificacionType">
    <complexContent mixed="false">
      <restriction base="ident:Identificacion">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="numeroDocumento" type="string" />
          <element minOccurs="1" maxOccurs="1" name="tipoDocumento" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
</schema>