Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.Cobis.EnrutarTramiteCredito/Web References/Credito_EnrutarTramiteCredito/telefono.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tel="http://www.fna.gov.co/cim/businessentities/telefono" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/telefono" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="Telefono">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="numeroCompleto" type="string" />
      <element minOccurs="0" maxOccurs="1" name="idTelefono" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoTelefono" type="string" />
      <element minOccurs="0" maxOccurs="1" name="numeroTelefono" type="string" />
      <element minOccurs="0" maxOccurs="1" name="extension" type="string" />
      <element minOccurs="0" maxOccurs="1" name="indicativo" type="int" />
      <element minOccurs="0" maxOccurs="1" name="idDireccion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="indicadorAutorizacion" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="codigoArea" type="int" />
      <element minOccurs="0" maxOccurs="1" name="codigoExterno" type="int">
        <annotation>
          <documentation>Campo de referencia entre CRM y Cobis</documentation>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="fechaModificacion" type="date" />
    </sequence>
  </complexType>
  <complexType name="Telefono_V1.0">
    <complexContent mixed="false">
      <restriction base="tel:Telefono">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="tipoTelefono" type="string" />
          <element minOccurs="1" maxOccurs="1" name="numeroTelefono" type="string" />
          <element minOccurs="0" maxOccurs="1" name="extension" type="string" />
          <element minOccurs="0" maxOccurs="1" name="indicativo" type="int" />
          <element minOccurs="0" maxOccurs="1" name="indicadorAutorizacion" type="boolean" />
          <element minOccurs="0" maxOccurs="1" name="codigoArea" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="Telefono_V1.1">
    <complexContent mixed="false">
      <restriction base="tel:Telefono">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="tipoTelefono" type="string" />
          <element minOccurs="1" maxOccurs="1" name="numeroTelefono" type="string" />
          <element minOccurs="0" maxOccurs="1" name="extension" type="string" />
          <element minOccurs="0" maxOccurs="1" name="indicativo" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
</schema>