Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.HUB.GenerarMinuta/Service References/Clinte_HubDocumental/cuentaBancaria.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ctaban="http://www.fna.gov.co/cim/businessentities/cuentabancaria" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/cuentabancaria" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="CuentaBancaria">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoCuenta" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoBanco" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombreBanco" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoSucursalBanco" type="string" />
      <element minOccurs="0" maxOccurs="1" name="autorizaDebitoAutomatico" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="principal" type="boolean" />
    </sequence>
  </complexType>
</schema>