Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.HUB.GenerarMinuta/Service References/Clinte_HubDocumental/MigrarSolicitudReparto.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dir="http://www.fna.gov.co/cim/businessentities/direccion" xmlns:sol="http://www.fna.gov.co/cim/businessentities/solicitud" xmlns:ns2="http://www.fna.gov.co/esb/services/cl/consumerheader/v1" xmlns:this="http://www.fna.gov.co/esb/services/soap/credito/migrarsolicitudreparto/v1" xmlns:tel="http://www.fna.gov.co/cim/businessentities/telefono" xmlns:inm="http://www.fna.gov.co/cim/businessentities/inmueble" xmlns:leg="http://www.fna.gov.co/cim/businessentities/legalizacion" xmlns:pernat="http://www.fna.gov.co/cim/businessentities/personanatural" xmlns:ident="http://www.fna.gov.co/cim/businessentities/identificacion" xmlns:ns3="http://www.fna.gov.co/esb/services/cl/consumerheader" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/esb/services/soap/credito/migrarsolicitudreparto/v1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../../../CommonsLib/consumerHeaderResponse.xsd" namespace="http://www.fna.gov.co/esb/services/cl/consumerheader/v1" />
  <import schemaLocation="../../../CommonsLib/consumerHeader.xsd" namespace="http://www.fna.gov.co/esb/services/cl/consumerheader" />
  <import schemaLocation="../../../BusinessEntitiesLib/legalizacion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/legalizacion" />
  <import schemaLocation="../../../BusinessEntitiesLib/solicitud.xsd" namespace="http://www.fna.gov.co/cim/businessentities/solicitud" />
  <import schemaLocation="../../../BusinessEntitiesLib/identificacion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/identificacion" />
  <import schemaLocation="../../../BusinessEntitiesLib/personanatural.xsd" namespace="http://www.fna.gov.co/cim/businessentities/personanatural" />
  <import schemaLocation="../../../BusinessEntitiesLib/direccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/direccion" />
  <import schemaLocation="../../../BusinessEntitiesLib/telefono.xsd" namespace="http://www.fna.gov.co/cim/businessentities/telefono" />
  <import schemaLocation="../../../BusinessEntitiesLib/inmueble.xsd" namespace="http://www.fna.gov.co/cim/businessentities/inmueble" />
  <element name="headerRq" type="ns3:ConsumerHeader" />
  <element name="headerRs" type="ns2:ConsumerHeaderResponse_v1.0" />
  <element name="MigrarSolicitudRepartoRq" type="this:MigrarSolicitudRepartoRq" />
  <element name="MigrarSolicitudRepartoRs" type="this:MigrarSolicitudRepartoRs" />
  <complexType name="MigrarSolicitudRepartoRq">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="notificarNotaria" type="this:LegalizacionType1" />
      <element minOccurs="1" maxOccurs="1" name="solicitudLegalizacion" type="this:SolicitudType1" />
      <element minOccurs="0" maxOccurs="unbounded" name="actos" type="this:actosType" />
      <element minOccurs="0" maxOccurs="unbounded" name="afiliados" type="this:afiliadosType" />
      <element minOccurs="0" maxOccurs="unbounded" name="tipoAfiliados" type="this:TipoAfiliadoType" />
      <element minOccurs="0" maxOccurs="unbounded" name="inmuebles" type="this:inmuebleType" />
    </sequence>
  </complexType>
  <complexType name="MigrarSolicitudRepartoRs">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="estado" type="int" />
      <element minOccurs="1" maxOccurs="1" name="mensaje" type="string" />
    </sequence>
  </complexType>
  <complexType name="LegalizacionType1">
    <complexContent mixed="false">
      <restriction base="leg:legalizacion">
        <sequence>
          <element minOccurs="1" name="idSolicitud" type="int" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="SolicitudType1">
    <complexContent mixed="false">
      <restriction base="sol:SolicitudHUBLegalizacion">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="codigoMunicipio" type="int" />
          <element minOccurs="1" maxOccurs="1" name="codigoTipoVivienda" type="int" />
          <element minOccurs="1" maxOccurs="1" name="codigoCirculoRegistral" type="int" />
          <element minOccurs="0" maxOccurs="1" name="valorCesantias" type="int" />
          <element minOccurs="0" maxOccurs="1" name="valorCredito" type="int" />
          <element minOccurs="1" maxOccurs="1" name="legalizacion" type="int" />
          <element minOccurs="1" maxOccurs="1" name="fechaSolicitud" type="date" />
          <element minOccurs="0" maxOccurs="1" name="valorContado" type="int" />
          <element minOccurs="1" maxOccurs="1" name="nombreMunicipio" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="actosType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="codigoActo" type="int" />
      <element minOccurs="1" maxOccurs="1" name="nombreActo" type="string" />
      <element minOccurs="1" maxOccurs="1" name="cuantia" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="avaluo" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="adquisicion" type="int" />
    </sequence>
  </complexType>
  <complexType name="afiliadosType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="identificacionAfiliados" type="this:IdentificacionType" />
      <element minOccurs="0" maxOccurs="1" name="expediciondoc" type="int" />
      <element minOccurs="0" maxOccurs="1" name="afiliadosHub" type="this:AfiliadosHubType" />
      <element minOccurs="0" maxOccurs="1" name="codigoEstadoCivil" type="int" />
      <element minOccurs="0" maxOccurs="1" name="razonSocial" type="string" />
      <element minOccurs="0" maxOccurs="1" name="direccionFisica" type="this:DireccionType" />
      <element minOccurs="0" maxOccurs="1" name="codigoMunicipio" type="int" />
      <element minOccurs="0" maxOccurs="1" name="telefono" type="this:TelefonoType" />
      <element minOccurs="0" maxOccurs="1" name="direccionElectronica" type="this:DireccionType1" />
    </sequence>
  </complexType>
  <complexType name="IdentificacionType">
    <complexContent mixed="false">
      <restriction base="ident:Identificacion">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="numeroDocumento" type="string" />
          <element minOccurs="1" maxOccurs="1" name="tipoDocumento" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="AfiliadosHubType">
    <complexContent mixed="false">
      <restriction base="pernat:PersonaNatural">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="nombres" type="string" />
          <element minOccurs="0" maxOccurs="1" name="apellidos" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="DireccionType">
    <complexContent mixed="false">
      <restriction base="dir:DireccionFisica">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="direccionCompleta" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="DireccionType1">
    <complexContent mixed="false">
      <restriction base="dir:DireccionElectronica">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="correoElectronico" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="TelefonoType">
    <complexContent mixed="false">
      <restriction base="tel:Telefono">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="numeroTelefono" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="TipoAfiliadoType">
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="codigoActo" type="int" />
      <element minOccurs="1" maxOccurs="1" name="codigoTipoDocumento" type="string" />
      <element minOccurs="1" maxOccurs="1" name="identificacion" type="string" />
      <element minOccurs="1" maxOccurs="1" name="codigoTipoUsuario" type="string" />
      <element minOccurs="0" maxOccurs="1" name="porcentaje" type="decimal" />
      <element minOccurs="0" maxOccurs="1" name="adquisicion" type="int" />
    </sequence>
  </complexType>
  <complexType name="inmuebleType">
    <complexContent mixed="false">
      <restriction base="inm:inmueble">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="matricula" type="string" />
          <element minOccurs="1" maxOccurs="1" name="direccion" type="string" />
          <element minOccurs="0" maxOccurs="1" name="codigoMunicipio" type="int" />
          <element minOccurs="0" maxOccurs="1" name="linderosEspeciales1" type="string" />
          <element minOccurs="0" maxOccurs="1" name="chip" type="string" />
          <element minOccurs="1" maxOccurs="1" name="cedulaCatastral" type="string" />
          <element minOccurs="0" maxOccurs="1" name="linderosEspeciales2" type="string" />
          <element minOccurs="0" maxOccurs="1" name="conjuntoAgrupacion" type="string" />
          <element minOccurs="1" maxOccurs="1" name="nombreTipoInmueble" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
</schema>