Bizagi.Proxy.Layer.Services/Bizagi.Proxy.Layer.HUB.GenerarMinuta/Service References/Clinte_HubDocumental/personanatural.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:aenv="http://www.fna.gov.co/cim/businessentities/autorizacionEnvio" xmlns:pep="http://www.fna.gov.co/cim/businessentities/pep" xmlns:dirsub="http://www.fna.gov.co/cim/CommonsLib/direccionsub" xmlns:dir="http://www.fna.gov.co/cim/businessentities/direccion" xmlns:pernat="http://www.fna.gov.co/cim/businessentities/personanatural" xmlns:ident="http://www.fna.gov.co/cim/businessentities/identificacion" xmlns:tel="http://www.fna.gov.co/cim/businessentities/telefono" xmlns:infofin="http://www.fna.gov.co/cim/businessentities/informacionfinanciera" xmlns:infolabsub="http://www.fna.gov.co/cim/CommonsLib/informacionlaboralsub" xmlns:csntias="http://www.fna.gov.co/cim/businessentities/cesantias" xmlns:afl="http://www.fna.gov.co/cim/businessentities/tipoafiliacion" xmlns:ctp="http://www.fna.gov.co/cim/businessentities/codigoTipo" xmlns:inflab="http://www.fna.gov.co/cim/businessentities/informacionlaboral" xmlns:avc="http://www.fna.gov.co/cim/businessentities/cuentaAVC" elementFormDefault="unqualified" targetNamespace="http://www.fna.gov.co/cim/businessentities/personanatural" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="identificacion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/identificacion" />
  <import schemaLocation="direccion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/direccion" />
  <import schemaLocation="telefono.xsd" namespace="http://www.fna.gov.co/cim/businessentities/telefono" />
  <import schemaLocation="informacionlaboral.xsd" namespace="http://www.fna.gov.co/cim/businessentities/informacionlaboral" />
  <import schemaLocation="informacionfinanciera.xsd" namespace="http://www.fna.gov.co/cim/businessentities/informacionfinanciera" />
  <import schemaLocation="cesantias.xsd" namespace="http://www.fna.gov.co/cim/businessentities/cesantias" />
  <import schemaLocation="tipoafiliacion.xsd" namespace="http://www.fna.gov.co/cim/businessentities/tipoafiliacion" />
  <import schemaLocation="autorizacionEnvio.xsd" namespace="http://www.fna.gov.co/cim/businessentities/autorizacionEnvio" />
  <import schemaLocation="cuentaAVC.xsd" namespace="http://www.fna.gov.co/cim/businessentities/cuentaAVC" />
  <import schemaLocation="codigoTipo.xsd" namespace="http://www.fna.gov.co/cim/businessentities/codigoTipo" />
  <import schemaLocation="../CommonsLib/informacionLaboral_Sub.xsd" namespace="http://www.fna.gov.co/cim/CommonsLib/informacionlaboralsub" />
  <import schemaLocation="../CommonsLib/direccion_Sub.xsd" namespace="http://www.fna.gov.co/cim/CommonsLib/direccionsub" />
  <import schemaLocation="pep.xsd" namespace="http://www.fna.gov.co/cim/businessentities/pep" />
  <complexType name="PersonaNatural">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="identificacion" type="ident:Identificacion" />
      <element minOccurs="0" maxOccurs="1" name="nombreCompleto" type="string" />
      <element minOccurs="0" maxOccurs="1" name="nombres" type="string" />
      <element minOccurs="0" maxOccurs="1" name="primerNombre" type="string" />
      <element minOccurs="0" maxOccurs="1" name="segundoNombre" type="string" />
      <element minOccurs="0" maxOccurs="1" name="primerApellido" type="string" />
      <element minOccurs="0" maxOccurs="1" name="segundoApellido" type="string" />
      <element minOccurs="0" maxOccurs="1" name="apellidos" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="date" />
      <element minOccurs="0" maxOccurs="1" name="lugarNacimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="ciudadNacimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="departamentoNacimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="paisNacimiento" type="string" />
      <element minOccurs="0" maxOccurs="1" name="sexo" type="string" />
      <element minOccurs="0" maxOccurs="1" name="estadoCivil" type="string" />
      <element minOccurs="0" maxOccurs="1" name="personasACargo" type="int" />
      <element minOccurs="0" maxOccurs="1" name="nivelEstudio" type="string" />
      <element minOccurs="0" maxOccurs="1" name="profesion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoVivienda" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="direccion" type="dir:DireccionFisica" />
      <element minOccurs="0" maxOccurs="1" name="filial" type="string" />
      <element minOccurs="0" maxOccurs="1" name="oficina" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fechaCreacion" type="date" />
      <element minOccurs="0" maxOccurs="1" name="fechaActualizacion" type="date" />
      <element minOccurs="0" maxOccurs="1" name="autorizaEnvioEmail" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="colombianoEnExterior" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="InfoBasicaExterior" type="pernat:ColombianoExterior" />
      <element minOccurs="0" maxOccurs="1" name="trasladoCesantias" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="ahorroProgramado" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="esFamiliar" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="direcccionElectronica" type="dir:DireccionElectronica" />
      <element minOccurs="0" maxOccurs="1" name="medioActualizacion" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoAsesorComercial" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoOficialReferido" type="int" />
      <element minOccurs="0" maxOccurs="1" name="empresaDondeTrabaja" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="casillasPostales" type="dir:CasillaPostal" />
      <element minOccurs="0" maxOccurs="unbounded" name="informacionLaboral" type="inflab:InformacionLaboral_V2.0" />
      <element minOccurs="0" maxOccurs="1" name="informacionFinanciera" type="infofin:InformacionFinanciera" />
      <element minOccurs="0" maxOccurs="unbounded" name="proteccionCesante" type="csntias:ProteccionCesante" />
      <element minOccurs="0" maxOccurs="unbounded" name="origenesAhorroVoluntario" type="string" />
      <element minOccurs="0" name="enrolamiento" type="string" />
      <element minOccurs="0" name="tipoAfiliacion" type="afl:TipoAfiliacion" />
      <element minOccurs="0" name="autorizacionEnvio" type="aenv:AutorizacionEnvio_V1.0" />
      <element minOccurs="0" name="cuentaAVC" type="avc:cuentaAVC_V1.0" />
      <element minOccurs="0" maxOccurs="unbounded" name="informacionFamiliar" type="pernat:InformacionFamiliar" />
      <element minOccurs="0" maxOccurs="unbounded" name="roles" type="ctp:codigoTipo" />
      <element minOccurs="0" maxOccurs="1" name="responsableImpuestosEEUU" type="boolean" />
      <element minOccurs="0" name="PEP" type="pep:PEP" />
      <element minOccurs="0" maxOccurs="1" name="TIN_EEUU" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="estatusMigratorioDefinido" type="string" />
      <element minOccurs="0" maxOccurs="1" name="identificacionExterior" type="ident:Identificacion" />
      <element minOccurs="0" maxOccurs="1" name="oficinaAfiliacion" type="string" />
      <element minOccurs="0" name="ActividadEconomica" type="inflab:ActividadEconomica" />
      <element minOccurs="0" name="TipoActividad" type="string" />
      <element minOccurs="0" maxOccurs="1" name="telefono" type="tel:Telefono" />
      <element minOccurs="0" maxOccurs="1" name="estado" type="string" />
      <element minOccurs="0" maxOccurs="1" name="fondoPrivado" type="int" />
      <element minOccurs="0" maxOccurs="1" name="entidadPension" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoVinculacionFNA" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigo" type="string" />
    </sequence>
  </complexType>
  <complexType name="ColombianoExterior">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="identificacion" type="ident:Identificacion" />
      <element minOccurs="0" maxOccurs="1" name="estatusMigratorioDefinido" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="direccion" type="dir:DireccionFisica_V2.1" />
      <element minOccurs="0" maxOccurs="1" name="responsableImpuestosEEUU" type="boolean" />
      <element minOccurs="0" maxOccurs="1" name="TIN_EEUU" type="boolean" />
    </sequence>
  </complexType>
  <complexType name="PersonaNaturalInfoBasica_V1.0">
    <complexContent mixed="false">
      <restriction base="pernat:PersonaNatural">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="identificacion" type="ident:Identificacion" />
          <element minOccurs="0" maxOccurs="1" name="nombreCompleto" type="string" />
          <element minOccurs="0" maxOccurs="1" name="primerApellido" type="string" />
          <element minOccurs="0" maxOccurs="1" name="segundoApellido" type="string" />
          <element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="date" />
          <element minOccurs="0" maxOccurs="1" name="sexo" type="string" />
          <element minOccurs="0" maxOccurs="1" name="nivelEstudio" type="string" />
          <element minOccurs="0" maxOccurs="unbounded" name="direccion" type="dir:DireccionFisica_V2.1" />
          <element minOccurs="0" maxOccurs="1" name="direcccionElectronica" type="dir:DireccionElectronica" />
          <element minOccurs="0" maxOccurs="1" name="empresaDondeTrabaja" type="string" />
          <element minOccurs="0" maxOccurs="1" name="informacionLaboral" type="infolabsub:InformacionLaboral_V2.2" />
          <element minOccurs="0" name="ActividadEconomica" type="inflab:ActividadEconomica" />
          <element minOccurs="0" name="TipoActividad" type="string" />
        </sequence>
      </restriction>
    </complexContent>
  </complexType>
  <complexType name="InformacionFamiliar">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="codigoFamiliar" type="string" />
      <element minOccurs="0" maxOccurs="1" name="tipoFamiliar" type="string" />
      <element minOccurs="0" maxOccurs="1" name="personaNaturalFamiliar" type="pernat:PersonaNaturalInfoBasica_V1.0" />
      <element minOccurs="0" name="secuencia" type="string" />
      <element minOccurs="0" maxOccurs="1" name="codigoExterno" type="string" />
    </sequence>
  </complexType>
</schema>